// variables----------------------------------------

$color-white: #ffffff;
$color-white-transparent: rgba($color-white, 0.6);
$color-white-light-transparent: rgba($color-white, 0.4);
$color-grey-light: rgba(221, 221, 221, 0.3);
$color-grey-dark:#373737;
$color-grey-medium: #4a4a4a;
$color-black-light: #202020;
$color-black-dark: #1a1a1a;
$color-white-translucent: #f6f6f6;
$color-grey-bold: #c4c4c4;
$color-grey-lighter: #e5e5e5;
$color-gold: #d8a56e;
